In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('above6.csv')

In [3]:
df2=pd.read_csv('below6.csv')

In [4]:
df1=df1.rename(columns={'rpo':'rpo_rrr more than 6'})
df2=df2.rename(columns={'rpo':'rpo_rrr less than or equals 6'})

In [5]:
df1=df1[df1['runs']>=500]

In [6]:
df2=df2[df2['runs']>=500]

In [7]:
result=pd.merge(df1,df2,how='outer',on='bat')

In [8]:
result

,Unnamed: 0_x,bat,runs_x,balls_x,dismissals_x,avg_x,rpo_rrr more than 6,Unnamed: 0_y,runs_y,balls_y,dismissals_y,avg_y,rpo_rrr less than or equals 6
0,1345.0,Virat Kohli,3202.0,3238.0,46.0,69.61,5.93,1203.0,4593.0,5086.0,73.0,62.92,5.42
1,735.0,MS Dhoni,2503.0,3174.0,63.0,39.73,4.73,658.0,2335.0,2841.0,31.0,75.32,4.93
2,1050.0,Rohit Sharma,1923.0,2068.0,48.0,40.06,5.58,934.0,3825.0,4311.0,67.0,57.09,5.32
3,1145.0,Shakib Al Hasan,1829.0,2182.0,48.0,38.10,5.03,1020.0,1871.0,2178.0,41.0,45.63,5.15
4,681.0,Kumar Sangakkara,1727.0,1775.0,37.0,46.68,5.84,618.0,2338.0,3164.0,55.0,42.51,4.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,NaN,Craig Kieswetter,NaN,NaN,NaN,NaN,NaN,245.0,512.0,538.0,14.0,36.57,5.71
169,NaN,Wesley Barresi,NaN,NaN,NaN,NaN,NaN,1216.0,509.0,645.0,14.0,36.36,4.73
170,NaN,Simon Katich,NaN,NaN,NaN,NaN,NaN,1062.0,506.0,720.0,7.0,72.29,4.22
171,NaN,Devon Conway,NaN,NaN,NaN,NaN,NaN,296.0,502.0,560.0,6.0,83.67,5.38
172,NaN,Nicholas Pooran,NaN,NaN,NaN,NaN,NaN,823.0,501.0,528.0,11.0,45.55,5.69

In [9]:
result=result[['bat','rpo_rrr less than or equals 6','rpo_rrr more than 6']]

In [10]:
result

                  bat  rpo_rrr less than or equals 6  rpo_rrr more than 6
0         Virat Kohli                           5.42                 5.93
1            MS Dhoni                           4.93                 4.73
2        Rohit Sharma                           5.32                 5.58
3     Shakib Al Hasan                           5.15                 5.03
4    Kumar Sangakkara                           4.43                 5.84
..                ...                            ...                  ...
168  Craig Kieswetter                           5.71                  NaN
169    Wesley Barresi                           4.73                  NaN
170      Simon Katich                           4.22                  NaN
171      Devon Conway                           5.38                  NaN
172   Nicholas Pooran                           5.69                  NaN

[173 rows x 3 columns]

In [11]:
result.to_csv('Difference_6rpo.csv')