In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

C:\Users\Vijay\AppData\Local\Temp\ipykernel_8820\990751168.py:1: DtypeWarning: Columns (40,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

In [3]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,0.01,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,0.02,...,True,219,190,3,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00
2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,0.03,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,0.04,...,True,228,198,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00
4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,2.03,...,True,212,179,3,NaN,NaN,BACK_DEFENCE,1.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,35.05,...,True,0,0,0,DOWN_LEG,GOOD_LENGTH,LEG_GLANCE,NaN,216,59.63
1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,35.06,...,True,222,320,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE,1.0,218,63.29
1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,35.02,...,True,6,259,6,WIDE_OUTSIDE_OFFSTUMP,FULL_TOSS,COVER_DRIVE,1.0,208,45.23
1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,35.03,...,True,37,196,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,COVER_DRIVE,1.0,210,49.34
1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,35.07,...,True,309,127,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,220,66.75

In [4]:
bowlunder6=dataset[(dataset['inns_rr']>6) & (dataset['inns_rr']<=7)]

In [5]:
bowlunder6

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
540,226353,1,Matt Prior,18675,England,Shoaib Akhtar,42655,Pakistan,2,8.02,...,True,159,23,8,NaN,NaN,FORWARD_DEFENCE,0.0,-1,-1.00
541,226353,1,Matt Prior,18675,England,Shoaib Akhtar,42655,Pakistan,3,8.03,...,True,119,226,5,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00
594,226353,1,Matt Prior,18675,England,Naved-ul-Hasan,42272,Pakistan,1,9.01,...,True,24,252,6,NaN,NaN,OFF_SIDE_DRIVE_ON_BACK_FOOT,1.0,-1,-1.00
595,226353,1,Matt Prior,18675,England,Naved-ul-Hasan,42272,Pakistan,2,9.02,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
624,226353,1,Matt Prior,18675,England,Mohammad Sami,41324,Pakistan,1,10.01,...,True,15,177,6,NaN,NaN,NO_SHOT,1.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321558,1412539,1,Janith Liyanage,681681,Sri Lanka,Tapiwa Mufudza,453321,Zimbabwe,2,15.02,...,True,328,179,3,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,290,75.21
1321559,1412539,1,Janith Liyanage,681681,Sri Lanka,Tapiwa Mufudza,453321,Zimbabwe,4,15.04,...,True,324,192,3,OUTSIDE_OFFSTUMP,GOOD_LENGTH,FLICK,1.0,292,75.52
1321560,1412539,1,Janith Liyanage,681681,Sri Lanka,Tapiwa Mufudza,453321,Zimbabwe,1,17.01,...,True,164,187,5,OUTSIDE_OFFSTUMP,FULL,DEFENDED,1.0,294,75.73
1321980,1412540,2,Sadeera Samarawickrama,629076,Sri Lanka,Richard Ngarava,806241,Zimbabwe,2,2.02,...,True,162,115,8,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,CUT_SHOT,0.0,243,67.57
1321984,1412540,2,Janith Liyanage,681681,Sri Lanka,Richard Ngarava,806241,Zimbabwe,3,2.03,...,True,0,0,0,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,LEFT_ALONE,1.0,233,65.22

In [6]:
bowlunder6.columns

Index(['p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl', 'p_bowl',
       'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out', 'dismissal',
       'p_out', 'over', 'noball', 'wide', 'byes', 'legbyes', 'cur_bat_runs',
       'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts', 'cur_bowl_runs',
       'inns_runs', 'inns_wkts', 'inns_balls', 'inns_runs_rem',
       'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target', 'max_balls', 'date',
       'year', 'ground', 'country', 'winner', 'toss', 'competition',
       'bat_hand', 'bowl_style', 'bowl_kind', 'batruns', 'ballfaced',
       'bowlruns', 'bat_out', 'wagonX', 'wagonY', 'wagonZone', 'line',
       'length', 'shot', 'control', 'predscore', 'wprob'],
      dtype='object')

In [7]:
dataset['dismissal'].value_counts()

caught                    21472
bowled                     6792
leg before wicket          4100
run out                    2712
stumped                     913
retired not out (hurt)       45
hit wicket                   33
obstructing the field         6
not out                       5
handled the ball              1
Name: dismissal, dtype: int64

In [8]:
bowldis=['caught','bowled','leg before wicket','stumped','hit wicket']
bowlunder6['wickets_earned?']=bowlunder6['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_8820\289537146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder6['wickets_earned?']=bowlunder6['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

In [9]:
bowlunder6['false_shot']=1-bowlunder6['control']
req_cols=['bowl','bowlruns','ballfaced','wickets_earned?','false_shot']
bowlunder6=bowlunder6[req_cols]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_8820\4127860961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder6['false_shot']=1-bowlunder6['control']

In [10]:
bowlunder6

                    bowl  bowlruns  ballfaced  wickets_earned?  false_shot
540        Shoaib Akhtar         4          1                0         1.0
541        Shoaib Akhtar         0          1                0         0.0
594       Naved-ul-Hasan         4          1                0         0.0
595       Naved-ul-Hasan         0          1                0         0.0
624        Mohammad Sami         4          1                0         0.0
...                  ...       ...        ...              ...         ...
1321558   Tapiwa Mufudza         1          1                0         0.0
1321559   Tapiwa Mufudza         1          1                0         0.0
1321560   Tapiwa Mufudza         0          1                0         0.0
1321980  Richard Ngarava         0          1                1         1.0
1321984  Richard Ngarava         0          1                0         0.0

[115763 rows x 5 columns]

In [11]:
ans=bowlunder6.groupby('bowl').sum().reset_index().sort_values(by='wickets_earned?',ascending=False)

In [12]:
ans

                      bowl  bowlruns  ballfaced  wickets_earned?  false_shot
23             Adil Rashid      1263       1120               38       192.0
188           Chris Woakes       873        692               29       159.0
56          Alzarri Joseph       554        444               28       126.0
20              Adam Zampa       725        694               27       125.0
655      Mustafizur Rahman       868        665               27       145.0
...                    ...       ...        ...              ...         ...
477            Karun Jethi         3         12                0         0.0
480   Kaushal Lokuarachchi         0          6                0         0.0
481   Kaushalya Weeraratne        42         37                0         2.0
482            Kavem Hodge        25         17                0         1.0
1020        Zulfiqar Babar        15         10                0         2.0

[1021 rows x 5 columns]

In [13]:
ans['bowl_avg']=ans['bowlruns']/ans['wickets_earned?']
ans['bowl_avg']=round(ans['bowl_avg'],2)
ans['balls_per_wicket']=ans['ballfaced']/ans['wickets_earned?']
ans['balls_per_wicket']=round(ans['balls_per_wicket'],2)
ans['false_shot%']=ans['false_shot']*100/ans['ballfaced']
ans['false_shot%']=round(ans['false_shot%'],2)
ans['econ']=ans['bowlruns']*6/ans['ballfaced']
ans['econ']=round(ans['econ'],2)

In [14]:
ans=ans.sort_values(by='econ',ascending=True)

In [15]:
ans=ans.rename(mapper={'bowl':'bowler','bowlruns':'runs_conceded','ballfaced':'balls_bowled','wickets_earned?':'wickets'},axis=1)
ans=ans.drop(columns=['false_shot'])

In [16]:
totalballs=pd.read_csv('totalballs.csv')
totalballs.drop('Unnamed: 0',axis=1,inplace=True)
totalballs=totalballs.rename(mapper={'bowl':'bowler'},axis=1)
final=pd.merge(ans,totalballs,on='bowler')
final['%career_balls']=final['balls_bowled']*100/final['ballfaced']
final['%career_balls']=round(final['%career_balls'],2)
final.drop(columns=['ballfaced'],axis=1,inplace=True)

In [17]:
final.to_csv('bowl_under7.csv')