In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

C:\Users\Vijay\AppData\Local\Temp\ipykernel_3568\990751168.py:1: DtypeWarning: Columns (40,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

In [3]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,0.01,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,0.02,...,True,219,190,3,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00
2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,0.03,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,0.04,...,True,228,198,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00
4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,2.03,...,True,212,179,3,NaN,NaN,BACK_DEFENCE,1.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,35.05,...,True,0,0,0,DOWN_LEG,GOOD_LENGTH,LEG_GLANCE,NaN,216,59.63
1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,35.06,...,True,222,320,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE,1.0,218,63.29
1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,35.02,...,True,6,259,6,WIDE_OUTSIDE_OFFSTUMP,FULL_TOSS,COVER_DRIVE,1.0,208,45.23
1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,35.03,...,True,37,196,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,COVER_DRIVE,1.0,210,49.34
1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,35.07,...,True,309,127,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,220,66.75

In [4]:
bowlunder5=dataset[dataset['inns_rr']<=5]

In [5]:
bowlunder5

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,0.01,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,0.02,...,True,219,190,3,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00
2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,0.03,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,0.04,...,True,228,198,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00
4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,2.03,...,True,212,179,3,NaN,NaN,BACK_DEFENCE,1.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,35.05,...,True,0,0,0,DOWN_LEG,GOOD_LENGTH,LEG_GLANCE,NaN,216,59.63
1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,35.06,...,True,222,320,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE,1.0,218,63.29
1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,35.02,...,True,6,259,6,WIDE_OUTSIDE_OFFSTUMP,FULL_TOSS,COVER_DRIVE,1.0,208,45.23
1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,35.03,...,True,37,196,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,COVER_DRIVE,1.0,210,49.34
1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,35.07,...,True,309,127,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,220,66.75

In [6]:
bowlunder5.columns

Index(['p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl', 'p_bowl',
       'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out', 'dismissal',
       'p_out', 'over', 'noball', 'wide', 'byes', 'legbyes', 'cur_bat_runs',
       'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts', 'cur_bowl_runs',
       'inns_runs', 'inns_wkts', 'inns_balls', 'inns_runs_rem',
       'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target', 'max_balls', 'date',
       'year', 'ground', 'country', 'winner', 'toss', 'competition',
       'bat_hand', 'bowl_style', 'bowl_kind', 'batruns', 'ballfaced',
       'bowlruns', 'bat_out', 'wagonX', 'wagonY', 'wagonZone', 'line',
       'length', 'shot', 'control', 'predscore', 'wprob'],
      dtype='object')

In [7]:
dataset['dismissal'].value_counts()

caught                    21472
bowled                     6792
leg before wicket          4100
run out                    2712
stumped                     913
retired not out (hurt)       45
hit wicket                   33
obstructing the field         6
not out                       5
handled the ball              1
Name: dismissal, dtype: int64

In [8]:
bowldis=['caught','bowled','leg before wicket','stumped','hit wicket']
bowlunder5['wickets_earned?']=bowlunder5['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_3568\2000113846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder5['wickets_earned?']=bowlunder5['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

In [9]:
bowlunder5['false_shot']=1-bowlunder5['control']
req_cols=['bowl','bowlruns','ballfaced','wickets_earned?','false_shot']
bowlunder5=bowlunder5[req_cols]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_3568\2267523133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder5['false_shot']=1-bowlunder5['control']

In [10]:
bowlunder5

               bowl  bowlruns  ballfaced  wickets_earned?  false_shot
0        Kyle Mills         0          1                0         0.0
1        Kyle Mills         0          1                0         0.0
2        Kyle Mills         1          0                0         0.0
3        Kyle Mills         1          1                0         0.0
4        Kyle Mills         0          1                0         0.0
...             ...       ...        ...              ...         ...
1322268   Ryan Burl         1          0                0         NaN
1322269   Ryan Burl         1          1                0         0.0
1322270   Ryan Burl         4          1                0         0.0
1322271   Ryan Burl         1          1                0         0.0
1322272   Ryan Burl         2          1                0         0.0

[832272 rows x 5 columns]

In [11]:
ans=bowlunder5.groupby('bowl').sum().reset_index().sort_values(by='wickets_earned?',ascending=False)

In [12]:
ans

                      bowl  bowlruns  ballfaced  wickets_earned?  false_shot
1045       Shakib Al Hasan      5263       8015              211      1108.0
648         Lasith Malinga      4331       6354              206      1507.0
192              Brett Lee      3405       5149              179      1244.0
1040         Shahid Afridi      4809       6791              174      1335.0
700       Mashrafe Mortaza      3992       6354              162      1127.0
...                    ...       ...        ...              ...         ...
395        Graeme McCarter         6         23                0         0.0
793        Muhammad Zuhaib        62         78                0        10.0
792        Muhammad Waseem        33         35                0         0.0
787   Mrittunjoy Chowdhury        37         37                0         8.0
1266       Zunaed Siddique        13         12                0         0.0

[1267 rows x 5 columns]

In [13]:
ans['bowl_avg']=ans['bowlruns']/ans['wickets_earned?']
ans['bowl_avg']=round(ans['bowl_avg'],2)
ans['balls_per_wicket']=ans['ballfaced']/ans['wickets_earned?']
ans['balls_per_wicket']=round(ans['balls_per_wicket'],2)
ans['false_shot%']=ans['false_shot']*100/ans['ballfaced']
ans['false_shot%']=round(ans['false_shot%'],2)
ans['econ']=ans['bowlruns']*6/ans['ballfaced']
ans['econ']=round(ans['econ'],2)

In [14]:
ans=ans.sort_values(by='econ',ascending=True)

In [15]:
ans=ans.rename(mapper={'bowl':'bowler','bowlruns':'runs_conceded','ballfaced':'balls_bowled','wickets_earned?':'wickets'},axis=1)
ans=ans.drop(columns=['false_shot'])

In [16]:
# ans.to_csv('bowl_under5.csv')

In [17]:
totalballs=pd.read_csv('totalballs.csv')

In [18]:
totalballs.drop('Unnamed: 0',axis=1,inplace=True)

In [19]:
totalballs=totalballs.rename(mapper={'bowl':'bowler'},axis=1)
final=pd.merge(ans,totalballs,on='bowler')
# ans['%career balls']=ans['balls_bowled']/totalballs['']

In [20]:
final['%career_balls']=final['balls_bowled']*100/final['ballfaced']
final.drop(columns=['ballfaced'],axis=1,inplace=True)

In [21]:
final.to_csv('bowl_under5.csv')